.privacy-container {
    padding: 1rem;
    padding-top: 10rem;
}

details {
    border: 1px solid rgba(44, 78, 3, 0.19);
    padding: 0.9rem;
    width: 50%;
    margin: 0.4rem;
    border-radius: 3%;
    cursor: pointer;
}

details ul {
    padding: 0.5rem
}

details ul li, details > p {
    list-style-type: disc;
    font-size: 0.9rem;
    color: rgb(69, 134, 156);
}

summary {
    margin-bottom: 0.7rem;
}

.sub-header {
    text-align: center;
}


/* Media Queries */
@media (max-width: 1024px) {

}

@media (max-width: 768px) {
.breadcrumb {
    font-size: 12px;
}


}

@media (max-width: 600px) {

details {
    width: 90%;
}
}
